.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #012456
}

.hljs,
.hljs-subst {
    color: #EE7BCD
}

.hljs-string{
    color: #AF698F
}

.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-function,
.hljs-builtin-name,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
    color: #fff
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-variable {
    color: #fff
}

.hljs-comment,
.hljs-quote,
.hljs-doctag,
.hljs-deletion {
    color: #888
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #0f0
}

.hljs-variable {
    Color: #FF4500
}
.hljs-meta {
    color: #008080
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-strong {
    font-weight: bold
}

.hljs-emphasis {
    font-style: italic
}

.hljs-type { 
    Color: #008080 
}

.hljs-params { 
    Color: #A9A9A9 
}

 .language-powershell .s2 .s1 { Color: #8B0000 } 
 .language-powershell .nb { Color: #0000FF } 
 .language-powershell .no { Color: #008080 } 
 .language-powershell .p .o { Color: #A9A9A9 }