<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">We love Android, but we hate the process of hiring Android developers. We're making Crucible so that we can love Android and love hiring more Android developers</p>
      </div>
      <div class="col l6 s12">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <ul>
          <li><a class="white-text" href="http://enterthecrucible.co/blog/posts.html">Crucible Blog</a></li>
          <li><a class="white-text" href="https://twitter.com/entrthecrucible">Follow us on Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" href="http://enterthecrucible.co">Crucible</a>
    </div>
  </div>
</footer>
